* {
    margin: 0;
    padding: 0;
}

/* #FF46D4 */
body{
    height:200vh;   
}

header {
    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 4rem;

    font-size: 1.3rem;
}


.logo__site {
    width: 120px;
    height: 93px;
}

.navegacao__pagina {
    display: flex;
    padding: 1rem 2rem 1rem 0;
    background: rgb(24, 24, 24, .4);
    border-radius: 5px;
}

.lista__items {
    list-style: none;
    display: flex;
}



.lista-item__link {
    position: relative;

    color: white;
    text-decoration: none;
    padding-left: 2rem;
}

.lista-item__link:not(:first-child):after {
    content: "|";

    position: absolute;
    top: -3px;
    left: 1rem;

    font-size: 1.5rem;
    height: 7px;
    width: 2px;
    color: white;

}

.lista-item__link:hover {
    text-decoration: underline 5px;
}


/* -------------------- Chamada  -----------------------   */

.chamada {
    width: 100%;

    margin: 0 auto;
    background: url(./imgs/img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-around;
}

.chamada__container {
    margin: auto auto;
    width: 55%;
    background: rgb(255, 255, 255, .8);
    padding: 5rem 3rem;

    border-radius: 5px;
    border: 4px solid #4ABD3A;
}

.chamada__titulo {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}


.chamada__conteudo {
    font-size: 1.4rem;
    font-weight: 548;
}


/* ------------------- Sobre -------------- */
.sobre {
    padding: 3rem 0;
    width: calc(100% -4px);
    height: 800px;
    background: linear-gradient(#fff, #ccc ) fixed;
    overflow: hidden;
}


.sobre__conteudo {
    margin: 0 auto;
    padding: 3rem 0;
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
}

.sobre__titulo{
    font-size: 2.3rem;
    text-align: center
}

.sobre__items{
    padding: 2rem 0;
    top:200px;
    background: #fff;
    width: 40%;
    height: 260px;
    border-radius: 5px;
    border: 2px solid #4ABD3A;
    filter: drop-shadow(10px 10px 2px  gray);

}

.sobre__items-titulos{
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}

.sobre__items-texto{
    font-size: 1.3rem;
    font-weight: 550;
    margin: 2rem;
}


.sobre__imagem-ilustrativa{
    width: 40%;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 2px  gray);
}

