* {
    margin: 0;
    padding: 0;
}

/* #FF46D4 */
@font-face {
  font-family: '';
  src: url();
}
body {
    min-height: 100vh;
}

header {
    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 4rem;

    font-size: 1.3rem;
}


.logo__site {
    width: 120px;
    height: 93px;
}



.lista__items {
    list-style: none;
    display: flex;
}



.lista-item__link {
    position: relative;
    color: white;
    text-decoration: none;
    padding-left: 2rem;
}



.lista-item__link:hover {
    text-decoration: underline 5px;
}
/* -------------------- Chamada  -----------------------   */

.chamada {
    padding: 6rem 2rem;
    width: calc(100% -4px);
    background: linear-gradient(#fff, #ccc ) fixed;
    overflow: hidden;
    background-image: url('cool-background.png');
   background-repeat: no-repeat;
   background-size: cover;
}



.chamada__titulo {
    font-family:Candara;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color:#000000;
}


.chamada__conteudo {
    font-family: Candara;
    font-size: 1.4rem;
    font-weight: 548;
    text-align:justify;
    color:#000000;
}


/* ------------------- Sobre -------------- */
.sobre {
    padding: 2rem 2rem;

    
    width: calc(100% -4px);
    background: linear-gradient(#fff, #ccc ) fixed;
    overflow: hidden;
    background-size: cover;
    background-color:#ffc599;
    background-image:
    radial-gradient(at 22% 14%, hsla(191,99%,61%,1) 0px, transparent 50%),
    radial-gradient(at 22% 76%, hsla(238,79%,66%,1) 0px, transparent 50%),
    radial-gradient(at 69% 40%, hsla(5,84%,67%,1) 0px, transparent 50%),
    radial-gradient(at 33% 57%, hsla(276,79%,60%,1) 0px, transparent 50%),
    radial-gradient(at 22% 30%, hsla(66,92%,65%,1) 0px, transparent 50%),
    radial-gradient(at 34% 4%, hsla(137,84%,78%,1) 0px, transparent 50%),
    radial-gradient(at 7% 70%, hsla(347,74%,78%,1) 0px, transparent 50%);
   
}


.sobre__conteudo {
    margin: 0 auto;
    padding: 3rem 0;
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
}

.sobre__titulo{
    padding-top: 3rem;
    font-family: Candara;
    font-size: 4rem;
    text-align: center;
    color:#ffffff;
}

.sobre__items{
    padding: 2rem 0;
    top:200px;
    background: #fff;
    width: 40%;
    height: 260px;
    border-radius: 5px;
    border: 2px solid #4ABD3A;

}

.sobre__items-titulos{
    font-family: Candara;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color:#000000;
}

.sobre__items-texto{
    font-family: Candara;
    font-size: 1rem;
    margin: 2rem;
    text-align:justify;
    color:#000000;
}


.sobre__imagem-ilustrativa{
    width: 40%;
    border-radius: 5px;

}

/* ------------------- Container -------------- */
.chamada__container{
    border-radius: 20px;
    background: linear-gradient(145deg, #d7d6d6, #ffffff);
    margin: auto auto;
    width: 55%;
    padding: 5rem 4rem;
    margin-top: 3rem;
    background: rgb(255, 255, 255);
    color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
}
/* ------------------- Espaço -------------- */
.espacocima{
    margin-top: 5rem;
}
.espacolado{
    margin-left:2rem;
}
/* ------------------- Neon -------------- */
.letraneon{
    position: static;
    display: inline-block;
    padding:20px;
    margin: 20px;
    margin-left: 60px;
    color:#1eff00;
    font-family:'Candana';
    text-decoration: none;
    transition: 0.4s;
    overflow: hidden;
    margin-right: 0px;
    display: inline-block;
    font-family: Arial;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;  
    color: #ffffff;
    padding: 0;
    margin: 0;
    border-radius: 10px;
  }

  .letraneon:hover{
    background: #1eff00;
    color: #000;
    box-shadow: 0 0 10px #1eff00, 0 0 40px #1eff00, 0 0 70px #1eff00;
  }
  .letraneon-blue:active{
     color:#1eff00; 
     background: #000000;
  }

/* ------------------- Barra Separação -------------- */
  
  .hr2 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);  
  }
/* ------------------- Carrossel -------------- */
.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
  }
  
  .containercarousel {
    overflow: hidden;
    padding: 60px;
    padding-top: 10px;
    background: rgba(0,0,0,.1)
  }
  
  .card-carousel {
    --card-width: 80%;
    --card-max-width: 520px;
    --card-height: 600px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background: whitesmoke;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,0,0,.5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card.highlight {
    filter: brightness(1)
  }

b{
  color:#4ABD3A;
}

/* Circle */
nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background:rgb(255, 255, 255);
    border-radius: 100%;
  }
  100% {
    background: rgb(228, 228, 228);
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

nav {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 20px 30rem;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  font-family: Candara;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #ccc;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}