/* Responsividade Carrosel  */

  


/* Responsividade Conteudo */


@media screen and (max-width: 1200px) {
    
    .compre {
        justify-content: start;
    }
    .compre__item {
        width: calc(50% - 2rem);
        margin-left: 2rem;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 767px) {
    .metodologias {
        width: 90%;
        flex-direction: column;
        margin: 1rem auto;
    }

    .container{
        width: 100%;
        margin: 1rem auto;
    }

    .compre__item {
        width: 100%;
        margin-left: 0;
    }

    .card-carousel{
        --card-max-width:80%;
        width: 100% ;
    }

    .ideia{
        width: 100%;
    }

    .ideia-texto{
        margin: 0 auto;
        width: 80%;
    }

    .glider{
        width: 90%;
    }

    .glider-prev{
        left: 20px;
    }

    .glider-next{
        right: 20px;
    }

}
